.auth__wrapper {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .auth__error {
    color: tomato;
  }
}

.select__wrapper {
  display: flex;
  justify-content: center;
}
.select__button {
  background: none;
  border: none;
  outline: none;
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  transition: transform .3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
.select__login {
  position: relative;
  transform: rotate(20deg) translate(-50px);
  transition: all .5s;
  &:before {
    position: absolute;
    content: "Login";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: #1890ff;
  }
  &:after {
    position: absolute;
    content: "Login";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: #52c41a;
  }
  &:hover {
    &:before {
      opacity: 1;
      left: 5px;
      top: 5px;
      transition: .5s;
    }
    &:after {
      opacity: 1;
      left: 10px;
      top: 10px;
      transition: .5s;
    }
  }
}
.select__register {
  position: relative;
  transform: rotate(-20deg) translate(50px);
  transition: all .5s;
  &:before {
    position: absolute;
    content: "Register";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: #1890ff;
  }
  &:after {
    position: absolute;
    content: "Register";
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: #52c41a;
  }
  &:hover {
    &:before {
      opacity: 1;
      left: -5px;
      top: 5px;
      transition: .5s;
    }
    &:after {
      opacity: 1;
      left: -10px;
      top: 10px;
      transition: .5s;
    }
  }
}