@mixin buttonEllem {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
@mixin button {
  background: none;
  border: none;
  outline: none;
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  &:before {
    @include buttonEllem;
    
    color: white;
    background: #1890ff;
  }
  &:after {
    @include buttonEllem;
    color: white;
    background: #52c41a;
  }
  &:hover {
    transform: scale(1.2);
    &:before {
      opacity: 1;
      transition: 0.5s;
    }
    &:after {
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.auth__wrapper {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .auth__error {
    color: tomato;
  }
}

.select__wrapper {
  display: flex;
  justify-content: center;
}

.select__login {
  @include button;
  transform: rotate(20deg) translate(-50px);
  &:before,
  &:after {
    content: "Login";
  }
  &:hover {
    &:before {
      left: 5px;
      top: 5px;
    }
    &:after {
      left: 10px;
      top: 10px;
    }
  }
}
.select__register {
  @include button;
  transform: rotate(-20deg) translate(50px);
  &:before,
  &:after {
    content: "Register";
  }
  &:hover {
    &:before {
      left: -5px;
      top: 5px;
    }
    &:after {
      left: -10px;
      top: 10px;
    }
  }
}
